===============GOOGLE FONTS===============@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  --first-color: hsl(31, 100%, 70%);
  --button-color: hsl(0, 0%, 17%);
  --button-color-alt: hsl(0, 0%, 21%);
  --title-color: hsl(0, 0%, 15%);
  --text-color: hsl(0, 0%, 35%);
  --text-color-light: hsl(0, 0%, 55%);
  --body-color: hsl(0, 0%, 99%);
  --container-color: #fff;
  --border-color: hsl(0, 0%, 94%);

  /*========== Font and typography ==========*/
  --body-font: 'Roboto', sans-serif;
  --biggest-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-bold: 700;

  /*========== Margenes Bottom ==========*/
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 2.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  margin: 0;
  background-color: var(--body-color);
  color: var(--text-color);
  transition: .4s;
}

/* h1, h2, h3, h4 {
  color: var(--title-color);
  font-weight: var(--font-medium);
} */

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
} */

/*=============== THEME ===============*/
/*========== Variables Dark theme ==========*/
/* body.dark-theme {
  --first-color: hsl(31, 76%, 74%);
  --button-color: hsl(0, 0%, 24%);
  --button-color-alt: hsl(0, 0%, 28%);
  --title-color: hsl(0, 0%, 95%);
  --text-color: hsl(0, 0%, 75%);
  --body-color: hsl(0, 0%, 12%);
  --container-color: hsl(0, 0%, 16%);
  --border-color: hsl(0, 0%, 20%);
}

/*========== Button Dark/Light ==========*/
/* .change-theme {
  color: var(--title-color);
  font-size: 1.25rem;
  cursor: pointer;
}  */

/*========== 
    Color changes in some parts of 
    the website, in dark theme 
==========*/
/* .dark-theme .change-theme,
.dark-theme .nav__toggle,
.dark-theme .nav__shop,
.dark-theme .button--gray {
  color: hsl(0, 0%, 15%);
}

.dark-theme .scroll-header {
  box-shadow: 0 1px 4px hsla(0, 0%, 4%, .3);
}

.scroll-header .change-theme,
.scroll-header .nav__toggle,
.scroll-header .nav__shop {
  color: var(--title-color);
}

.dark-theme::-webkit-scrollbar {
  background: hsl(0, 0%, 30%);
} */

/*=============== REUSABLE CSS CLASSES ===============*/
/* .container {
  max-width: 1024px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  display: grid;
}

.main {
  overflow: hidden;
}

.section {
  padding: 6.5rem 0 1rem;
}

.section__title {
  position: relative;
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-3);
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
}

.section__title::before {
  content: '';
  position: absolute;
  top: -1rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 67px;
  height: 1px;
  background-color: var(--first-color);
} */

/*=============== section-One ===============*/
#section_one {
  width: 100%;
  height: auto;
}

.father {
  display: flex;
  width: 100%;
  height: auto;
}

.div-one {
  width: 27%;
  height: auto;
  box-shadow: -0px -0px 15px 0px rgb(218, 218, 218);
}

.div-cointner {
  width: 100%;
  height: auto;
  padding: 13px 20px;
}

.div-cointner h2 {
  font-family: Arial;
  font-size: 18px;
  padding-bottom: 8px;
}

.div-cointner ul li {
  background-color: whitesmoke;
  border-radius: 3%;
  padding: 4%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  border: none;
}

.div-cointner ul li:hover {
  background-color: white;
}

.div-cointner ul li:nth-child(1) {
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}

.div-cointner ul li:nth-child(4) {
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
}


.div-cointner ul li i, input {
  float: right;
  padding: 1%;
}

/*========== icons ==============*/
.fa-check-circle {
  color: rgb(20, 199, 20);
  cursor: pointer;
}

.fa-trash {
  color: red;
  cursor: pointer;
}

.fa-check-circle:hover {
  color: green;
}

.fa-trash:hover {
  color: tomato;
}

/*========== icons ============= */

.div-cointner input {
  background-color: whitesmoke;
  margin-left: 5%;
  margin-bottom: 5%;
  margin-top: 1%;
  text-align: left;
  width: 42%;
  padding: 3%;
  border-radius: 17px;
  transform: translateX(-20px);
  outline: none;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
}

.style {
  padding: 14px 20px;
}

.div-one .span-one {
  font-size: 28px;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.div-one .span-one i {
  font-size: 27px;
  padding-right: 15px;

}

.count {
  font-size: 17px;
  opacity: 0.4;
  padding-top: 12.1px;
  float: right;
  font-family: sans-serif;
}

/*======================== section-One ====================*/
.div-two {
  width: 70%;
  height: 50vh;
}

.two-header {
  padding: 20px 20px;
}

.two-header i {
  padding-top: 1%;
  font-size: 30px;
  color: green;
}

.div-two .two-header h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
}

.div-two .fa-search {
  font-size: 24px;
  position: relative;
  top: 10%;
  left: 4%;
}

.div-two input {
  opacity: 0.4;
  width: 98%;
  padding: 10px;
  padding-left: 6%;
  outline: none;
  border-radius: 45px;
  margin-bottom: 2%;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(218, 218, 218);

}

.selection {
  display: flex;
  width: 100%;
  padding: 7px 30px;
  /* background-color: rgb(255, 0, 0); */
  justify-content: space-between;
}

.radio {
  padding: 1%;
  font-family: Arial, Helvetica, sans-serif;

}
.radio input[type="checkbox"]:checked {
  background-color: red;
}

.radio label {
  font-size: 14px;
}

.radio .fa-check-circle {
  font-size: 22px;
  transform: translateY(2px);
}

.btns button {
  background-color: green;
  color: white;
  outline: none;
  border: none;
  border-radius: 10px;
  padding: 6px 10px;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}

.two-header {
  display: flex;
  justify-content: space-between;
}

.profile {
  display: flex;
}

.space-bt .spam {
  /* background-color: red; */
  font-size: 17px;
  position: relative;
  top: 10px;
  right: 0%;
  border: none;
  border-radius: 20px;
  padding: 3px 10px;
  margin-right: 5px;
  background-color: green;
  color: white;
  font-family: sans-serif;
  cursor: pointer;
}

.space-bt .fa-dot-circle {
  font-size: 12px;
  border-radius: 50px;
  padding-left: 3px;
}

.space-bt {
  margin-top: 2%;
  border-bottom: 1px solid whitesmoke;
}

.space-bt .fa-plus-circle {
  font-size: 22px;
  position: relative;
  top: 13px;
  right: 0%;
  cursor: pointer;
}

.img i {
  transform: translateY(-15.5px);
  font-size: 20px;
}

.img img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin-left: 5px;
}

.space-bt {
  display: flex;
  justify-content: space-between;
  width: 98%;
  margin-left: 20px;
}

.prof {
  /* background-color: red; */
  margin-left: 7px;
}

.prof h2 {
  font-family: Arial, Helvetica, sans-serif;
}

.prof p {}